:root {
	--bg-color: rgb(61, 59, 68);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color);
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	max-width: 916px;
	width: calc(100% - 20px);
	margin: 10px;
}

.card {
	background-color:rgba(255, 255, 255, 0.02);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	cursor: pointer;
	height: 260px;
	width: 300px;
}

.card::before {
	background: radial-gradient(800px circle at 100px 100px, rgba(255, 255, 255, 0.06));
	content: "";
	border-radius: inherit;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
}